$blue: rgb(3,155,229);
$while : #FFFFFF;

a {
  color: rgb(3,155,229);
}

#login {
    height: 100%;
    background: url('/assets/images/march.jpg') no-repeat center center fixed;
    background-size: cover;

    #login-form-wrapper {
        flex: 1 0 auto;
        padding: 88.5px; 

        #login-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            background: $while;
            text-align: center;

            .logo { 
                width: 128px;
                height: 128px;
                line-height: 128px;
                font-size: 86px; 
                font-weight: 500;
                margin: 32px auto;
                color: $while;
                border-radius: 2px;
                background-color: $blue;
            }

            .title {
                font-size: 17px;
                margin: 16px 0 32px 0;
            }

            form {
                width: 100%;
                text-align: left;

                .remember-forgot-password {
                    font-size: 13px;
                    margin-top: 8px;

                    .remember-me {
                        margin-bottom: 16px
                    }

                    .forgot-password {
                        font-size: 13px;
                        font-weight: 500;
                        margin-bottom: 16px
                    }
                }

                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }

            .register {
                margin: 32px auto 24px auto;
                width: 250px;
                font-size: 13px;
                font-weight: 500;
            }

            .separator {
                font-size: 15px;
                font-weight: 600;
                margin: 24px auto 16px auto;
                position: relative;
                overflow: hidden;
                width: 100px;
                color: rgba(0, 0, 0, 0.54);
            }

            .md-button {

                &.google,
                &.facebook {
                    width: 192px;
                    text-transform: none;
                    color: $while;
                    font-size: 13px;
                }

                &.google {
                    background-color: #D73D32;
                }

                &.facebook {
                    background-color: rgb(63, 92, 154);
                }
            }
        }
    }
}
