$blue: rgb(3,155,229);
$while : #FFFFFF;

a {
  color: rgb(3,155,229);
}


#register {
    height: 100%;
    background: url('/assets/images/march.jpg') no-repeat center center fixed;
    background-size: cover;

    #register-form-wrapper {
        flex: 1 0 auto;
        padding: 81.5px;

        #register-form {
            width: 384px;
            max-width: 384px;
            padding: 32px;
            background-color: $while;
            text-align: center;

            .logo { 
                width: 128px;
                height: 128px;
                font-size: 86px;
                font-weight: 500;
                margin: 32px auto;
                background: $blue;
                color: $while; 
                border-radius: 2px;
            }
 
            .title {
                font-size: 17px;
                margin: 16px 0 32px;
            }

            form {
                width: 100%; 
                text-align: left;

                .terms {
                    font-size: 13px;
                    margin-bottom: 16px; 
                    font-weight: 400;
                } 
 
                .submit-button {
                    width: 220px;
                    margin: 16px auto;
                    display: block;
                }
            }

            .login {
                margin: 32px auto 24px auto;
                width: 250px;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
} 